<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Message Board</h1>
    <div class="container">
      <% for (let i = 0; i < messages.length; i++) { %>
        <div class="message">
          <div class="message-heading">
            <p><%= messages[i].username %></p>
            <p><%= messages[i].message_date %></p>
          </div>
          <p><%= messages[i].message_text %></p>
        </div>
      <% } %>
    </div>

    <a href="/new">Add new Message</a>
  </body>
</html>
